import pandas as pd

with pd.ExcelWriter('{{ user_audit_report }}', engine='openpyxl') as writer:
{% if enable_rhel_report | bool %}
    pd.read_csv('{{ rhel_report }}').to_excel(writer, sheet_name='RHEL User Accouts', index=False)
{% endif %}
{% if enable_win_report | bool %}
    pd.read_csv('{{ win_report }}').to_excel(writer, sheet_name='WINDOWS User Accouts', index=False)
{% endif %}
{% if enable_sql_report | bool %}
    pd.read_csv('{{ sql_report }}').to_excel(writer, sheet_name='SQL User Accounts', index=False)
{% endif %}